<h3>Info offer</h3><br/>
        <div class="col-sm-4">
          <ul  class="list-group">
          <?php foreach($data as $item) { ?>
            <li class="list-group-item active"></li>
            <li class="list-group-item"><b>Offer № :</b> <?=$item['id']?></li>
            <li class="list-group-item">Name company : <?=$item['name_company']?></li>
            <li class="list-group-item">Place car : <?=$item['place_car']?></li>
            <li class="list-group-item">Contact Email : <?=$item['cont_email']?></li>
            <li class="list-group-item">Contact phone : <?=$item['cont_phone']?></li>
            <li class="list-group-item">Start point : <?=$item['start_p']?></li>
            <li class="list-group-item">Finish point : <?=$item['finish_p']?></li>
            <LI style='color:white; '></LI>
          <?php } ?> 
          </ul>
        </div>
















<!--<h3>Info offer</h3><br/>
<table class="table table-striped" style="width: 100%;">
  <tr>
    <td style="width: 5%;">#</td>
    <td style="width: 15%;">Name company</td>
    <td style="width: 15%;">Place car</td>
    <td style="width: 20%;">Contact Email</td>
    <td style="width: 20%;">Contact Phone</td>
    <td style="width: 15%;">Start point</td>
    <td style="width: 15%;">Finish point</td>
  </tr>
  <?php foreach($data as $item) { ?>
  <tr>
    <td><?=$item['id']?></td>
    <td><?=$item['name_company']?></td>
    <td><?=$item['place_car']?></td>
    <td><?=$item['cont_email']?></td>
    <td><?=$item['cont_phone']?></td>
    <td><?=$item['start_p']?></td>
    <td><?=$item['finish_p']?></td>
  </tr>
  <?php } ?>  
</table> -->