<h3>Заполните данные поля :</h3>
<form action="" method="post">
	
		<input type="text" class="form-control" placeholder="Your Login" name="login">
		<input type="text" class="form-control" placeholder="E-mail" name="email">
		<h4><label class="label label-info"><input type="radio" name="role" value="customer"> Customer </label> </h4>
		<h4><label class="label label-info"><input type="radio" name="role" value="seller"> Seller </label></h4>
		<input type="text" class="form-control" placeholder="Your Password" name="password">
			
	<button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>

