<h3>Заполните данные поля поставщика:</h3>
<form action="" method="post">
	
		<input type="text" class="form-control" placeholder="Your Сompany" name="name_company">
		<input type="text" class="form-control" placeholder="Place`s in your Car" name="place_car">
		<input type="text" class="form-control" placeholder="Your email for contact" name="cont_email">
		<input type="text" class="form-control" placeholder="Your Phone" name="cont_phone">
		<input type="text" class="form-control" placeholder="Your start point" name="start_p">
		<input type="text" class="form-control" placeholder="Your finish point" name="finish_p">
	
	<input class="btn btn-lg btn-primary" type="submit">
</form>

